@use '@angular/material' as mat;
@use 'styles/themes/_custom-palette.scss' as customPalette;
@import 'styles/vendors/_bootstrap.scss';
@import 'styles/themes/theme.scss';

// Be sure that you only ever include this mixin once!
@include mat.core();

$smithange-accent: mat.define-palette(customPalette.$secondary-grey-palette, 500);
$smithange-warn: mat.define-palette(customPalette.$error-palette, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography"
$smithange-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $smithange-accent,
    warn: $smithange-warn
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($smithange-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-color: $background-color; }
* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import 'styles/components/_text-field.scss';
@import 'styles/components/_table.scss';
@import 'styles/components/_select.scss';
@import 'styles/components/_tabs.scss';
@import 'styles/components/_title.scss';