@import "themes/theme";

.loader-content {
  .loader {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $primary-color;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
}