<div class="locations-table">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Otsi tabelist" #input>
      </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hind </th>
                <td mat-cell *matCellDef="let row"> {{row.price}} €</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Kuupäev </th>
                <td mat-cell *matCellDef="let row"> {{row.date}} </td>
            </ng-container>
            <ng-container matColumnDef="maxOccupants">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Kohtade arv </th>
                <td mat-cell *matCellDef="let row"> {{row.maxOccupants}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Toa nimetus </th>
                <td mat-cell *matCellDef="let row"> {{row.type}} </td>
            </ng-container>
            <ng-container matColumnDef="reserve">
                <th mat-header-cell *matHeaderCellDef> &NonBreakingSpace; </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button color="primary" (click)="reserve(row)">
                        <mat-icon color="primary" aria-hidden="false" aria-label="Broneeri" fontIcon="calendar_today"></mat-icon>
                        Broneeri
                    </button>
                </td>
            </ng-container>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row no-results-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="columns.length">Andmed puuduvad</td>
            </tr>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 150]" pageSize="10" aria-label="Vali lehekülg"></mat-paginator>
    </div>
</div>
