.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .login-container {
        text-align: center;
        width: 25vw;

        .row {
            justify-content: center;
        }

        .login-button {
            display: flex;
            width: 50%;

            button {
                flex: 1;
            }
        }
    }
}