<div class="login-page">
    <div class="login-container container-fluid">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <mat-form-field>
                    <mat-label>Kasutajanimi</mat-label>
                    <input type="text" matInput formControlName="username">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Salasõna</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
            </div>
            <div class="row">
                <div class="login-button">
                    <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">Sisene</button>
                </div>
            </div>
        </form>
    </div>
</div>
