@import "themes/theme";

.find-reservation {
  .reservation-search {
    display: flex;
    padding: 16px;

    .button-col {
      display: flex;
      justify-content: flex-end;
      
      .mdc-button {
        margin-left: 8px;
      }
    }
  }

  .results {
    background-color: $background-color;
    padding-top: 8px;
  }

  .reservation-info {
    width: 100%;
    height: 100%;
    background-color: $background-accent;
    border-radius: 5px;
  }

  .reservation-info-buttons {
    padding-right: 20px;
    background-color: $background-accent;
  }

  .reservation-info-label {
    max-width: 160px;
    color: #555867;
  }
}
.mat-error {
  white-space: pre-wrap; /* CSS property to make the text wrap and form new lines as needed */
  overflow: visible; /* CSS property to make sure nothing is hidden */
}