<ng-container>
  <div class="find-reservation">
    <div class="reservation-search">
      <div class="container-fluid">
        <form [formGroup]="searchReservationForm">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <mat-label class="form-label me-3"
                    >Broneeringu number</mat-label
                  >
                  <mat-form-field [hideRequiredMarker]="true">
                    <mat-label></mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="reservationCode"
                    />
                    <mat-error
                      *ngIf="
                        searchReservationForm.controls[
                          'reservationCode'
                        ].hasError('required') ||
                        searchReservationForm.controls[
                          'reservationCode'
                        ].hasError('onlyWhitespace')
                      "
                    >
                      Kohustuslik
                    </mat-error>
                    <mat-error
                      *ngIf="
                        searchReservationForm.controls[
                          'reservationCode'
                        ].hasError('invalidBookingCode')
                      "
                    >
                      {{
                        searchReservationForm.controls["reservationCode"]
                          .errors["invalidBookingCode"].message
                      }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6 d-flex align-items-center">
                  <mat-label class="form-label me-3"
                    >Ees- ja perekonnanimi</mat-label
                  >
                  <mat-form-field [hideRequiredMarker]="true">
                    <mat-label></mat-label>
                    <input type="text" matInput formControlName="fullName" />
                    <mat-error
                      *ngIf="
                        searchReservationForm.controls['fullName'].hasError(
                          'required'
                        ) ||
                        searchReservationForm.controls['fullName'].hasError(
                          'onlyWhitespace'
                        )
                      "
                    >
                      Kohustuslik
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-4 button-col">
              <div class="align-items-center d-flex">
                <button
                  mat-raised-button
                  color="accent"
                  type="button"
                  (click)="clearFields()"
                >
                  Puhasta väljad
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="searchReservation()"
                >
                  Otsi broneeringut
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="results" *ngIf="reservation$ | async as reservation">
      <div class="reservation-info">
        <div class="py-3 px-4">
          <h3 class="mb-5">Broneering {{ reservation.bookingCode }}</h3>
          <div>
            <div class="row mb-4">
              <div class="col reservation-info-label">
                Ees- ja perekonnanimi
              </div>
              <div class="col">{{ reservation.fullName }}</div>
            </div>
            <div class="row mb-4">
              <div class="col reservation-info-label">Isikukood</div>
              <div class="col">
                {{ reservation.nationalIdentificationNumber }}
              </div>
            </div>

            <div class="row mb-4">
              <div class="col reservation-info-label">E-posti aadress</div>
              <div class="col">{{ reservation.email }}</div>
            </div>

            <div class="row mb-4">
              <div class="col reservation-info-label">Check-in</div>
              <div class="col">
                {{ reservation.checkInStartUtc | date : "dd.MM.YYYY" }} kell
                {{ reservation.checkInStartUtc | date : "HH:mm" }}
              </div>
            </div>

            <div class="row mb-4">
              <div class="col reservation-info-label">Check-out</div>
              <div class="col">
                {{ reservation.checkOutUtc | date : "dd.MM.YYYY" }} kell
                {{ reservation.checkOutUtc | date : "HH:mm" }}
              </div>
            </div>

            <div class="row mb-4">
              <div class="col reservation-info-label">Toa number</div>
              <div class="col">{{ reservation.roomId }}</div>
            </div>

            <div class="row mb-4">
              <div class="col reservation-info-label">Tuba</div>
              <div class="col">{{ reservation.room.type }}</div>
            </div>

            <div class="row mb-4">
              <div class="col reservation-info-label">Voodikohtade arv</div>
              <div class="col">{{ reservation.room.maxOccupants }}</div>
            </div>

            <div class="row mb-4">
              <div class="col reservation-info-label">Hind</div>
              <div class="col">{{ reservation.price }} €</div>
            </div>
          </div>
        </div>
      </div>
      <div class="reservation-info-buttons d-flex align-items-end flex-column">
        <div class="p-2">
          <button mat-raised-button color="warn" type="button" (click)="cancelReservation()">
            Tühista broneering
          </button>
        </div>
        <div class="p-2">
          <small class="mr-3"
            >Tühistamine on võimalik kuni 3 päeva enne külastuse algust.
          </small>
        </div>
        <div class="p-2">
          <small class="mr-3">
            Soovid muuta broneeringut?
            <a href="https://netgroup.com/">Võta meiega ühendust!</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</ng-container>
