<div class="toolbar d-flex align-items-center">
  <a href="/broneeringud" aria-label="Liigu pealehele">
    <img class="logo" src="assets/logos/smit.svg" alt="SMIT Logo" />
  </a>
  &NonBreakingSpace;
  <button *ngIf="showLogOut$ | async" class="ms-auto log-out-btn me-5" (click)="logOut()">
    Logi välja
  </button>
</div>
