@import 'themes/theme.scss';

.toolbar {
    width: 100%;
    height: 80px;
    background-color: $primary-color;

    .logo {
        width: 128px;
        padding: 4px;
    }

    .log-out-btn {
      color: #ffffff;
      font-size: 16px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: max-content;
      padding: 5px;
    }
}
