<app-page pageTitle="Hotellitoa broneerimine">
  <div class="search">
    <mat-tab-group #optionsTabs dynamicHeight mat-stretch-tabs="false" [selectedIndex]="selectedTab">
      <mat-tab label="Uus broneering">
        <ng-container>
          <div class="new-reservation-search">
            <div class="container-fluid">
              <form [formGroup]="searchHotelForm">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col-3 d-flex align-items-center">
                        Külastuse kuupäev
                      </div>
                      <div class="col">
                        <mat-form-field appearance="fill">
                          <mat-label>Alates</mat-label>
                          <input
                            matInput
                            [matDatepicker]="fromPicker"
                            formControlName="dateFrom"
                          />
                          <button
                            *ngIf="searchHotelForm.get('dateFrom')?.value"
                            matSuffix
                            mat-icon-button
                            aria-label="Tühjenda väli"
                            (click)="
                              searchHotelForm.get('dateFrom')?.setValue(null)
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="fromPicker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #fromPicker></mat-datepicker>
                          <mat-error
                            *ngIf="
                              searchHotelForm.get('dateFrom')!.hasError('required') &&
                              !searchHotelForm.get('dateFrom')!.hasError('matDatepickerParse')
                            "
                          >
                            Kohustuslik
                          </mat-error>
                          <mat-error
                          *ngIf="searchHotelForm.get('dateFrom')!.hasError('matDatepickerParse')"
                          >
                            Vigane kuupäev
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field appearance="fill">
                          <mat-label>Kuni</mat-label>
                          <input
                            matInput
                            [matDatepicker]="untilPicker"
                            formControlName="dateTo"
                          />
                          <button
                            *ngIf="searchHotelForm.get('dateTo')?.value"
                            matSuffix
                            mat-icon-button
                            aria-label="Tühjenda väli"
                            (click)="
                              searchHotelForm.get('dateTo')?.setValue(null)
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="untilPicker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #untilPicker></mat-datepicker>
                          <mat-error
                            *ngIf="
                              searchHotelForm.get('dateTo')!.hasError('required') &&
                              !searchHotelForm.get('dateTo')!.hasError('matDatepickerParse')
                            "
                          >
                            Kohustuslik
                          </mat-error>
                          <mat-error
                            *ngIf="searchHotelForm.get('dateTo')!.hasError('matDatepickerParse')"
                          >
                            Vigane kuupäev
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 button-col">
                    <div class="align-items-center d-flex">
                      <button mat-raised-button color="accent" type="button" (click)="clearFields()">
                        Puhasta väljad
                      </button>
                      <button mat-raised-button color="primary" type="button" (click)="searchAvailableRooms()">
                        Näita saadavust
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="results" *ngIf="(locationDataSource$ | async) != null">
            <h2>Vabad hotellitoad</h2>
            <div
              class="table-section"
              *ngIf="locationDataSource$ | async as data"
            >
              <app-locations-table
                [from]="searchHotelForm.get('dateFrom')?.value"
                [to]="searchHotelForm.get('dateTo')?.value"
                [dataSource]="data"
                [columns]="locationDisplayedColumns"
              ></app-locations-table>
            </div>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Leia broneering">
        <app-find-reservation></app-find-reservation>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page>
<ng-template #loadingTable>
  <mat-progress-bar class="table-section" mode="query"></mat-progress-bar>
</ng-template>
