.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
      display: flex;
      width: 100%;
      &>* {
          width: 100%;
      }
  }

  .main {
      height: 100%;
  }
}
