<app-page pageTitle="Uus broneering" class="new-reservation">
  <app-loader [isLoading$]="isLoading$"></app-loader>
  <mat-card>
    <ng-container>
      <div class="d-flex">
        <div class="container-fluid px-5 py-4">
          <div class="row">
            <div class="col-8">
              <h2>Broneeringu loomiseks palun sisesta oma andmed</h2>
              <form class="mt-5" [formGroup]="newReservationForm">
                <div class="row">
                  <div class="col">
                    <mat-label class="form-label me-3"
                      >Ees- ja perekonnanimi</mat-label
                    >
                    <mat-form-field>
                      <input type="text" matInput formControlName="name" />
                      <mat-error
                        *ngIf="
                          newReservationForm.controls['name'].hasError(
                            'required'
                          ) ||
                          newReservationForm.controls['name'].hasError(
                            'onlyWhitespace'
                          )
                        "
                      >
                        Kohustuslik
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <mat-label class="form-label me-3">Isikukood</mat-label>
                    <mat-form-field>
                      <input
                        type="text"
                        matInput
                        formControlName="personalCode"
                      />
                      <mat-error
                        *ngIf="
                          newReservationForm.controls['personalCode'].hasError(
                            'required'
                          ) ||
                          newReservationForm.controls['personalCode'].hasError(
                            'onlyWhitespace'
                          )
                        "
                      >
                        Kohustuslik
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <mat-label class="form-label me-3">E-post</mat-label>
                    <mat-form-field>
                      <input
                        type="text"
                        matInput
                        formControlName="email"
                        email
                      />
                      <mat-error
                        *ngIf="
                          newReservationForm.controls['email'].hasError(
                            'required'
                          ) ||
                          newReservationForm.controls['email'].hasError(
                            'onlyWhitespace'
                          )
                        "
                      >
                        Kohustuslik
                      </mat-error>
                      <mat-error
                        *ngIf="
                          newReservationForm.controls['email'].hasError('email')
                        "
                      >
                        Vale e-posti aadress
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-4 d-flex">
              <div class="reservation-info">
                <div class="py-3 px-4">
                  <h3 class="mb-5">Broneeringu info</h3>

                  <div>
                    <div class="row mb-4">
                      <div class="col reservation-info-label">Hind</div>
                      <div class="col">{{ (location | async)?.price }} €</div>
                    </div>

                    <div class="row mb-4">
                      <div class="col reservation-info-label">Kuupäev</div>
                      <div class="col">{{ dates | async }}</div>
                    </div>

                    <div class="row mb-4">
                      <div class="col reservation-info-label">Kohtade arv</div>
                      <div class="col">
                        {{ (location | async)?.maxOccupants }}
                      </div>
                    </div>

                    <div class="row mb-4">
                      <div class="col reservation-info-label">Toa nimetus</div>
                      <div class="col">{{ (location | async)?.type }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col button-col">
              <div class="align-items-center d-flex">
                <button
                  mat-raised-button
                  color="accent"
                  type="button"
                  (click)="goBack()"
                >
                  Tagasi
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="createBooking()"
                >
                  Broneeri
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card>
</app-page>

<ng-template #loadingTable>
  <mat-progress-bar class="table-section" mode="query"></mat-progress-bar>
</ng-template>
