$secondary-palette-light-blue: (
  50: #e9f1f7,
  100: #c7dbeb,
  200: #a2c3de,
  300: #7dabd0,
  400: #6199c6,
  500: #4587bc, // GREEN BLUE CRAYOLA
  600: #3e7fb6,
  700: #3674ad,
  800: #2e6aa5,
  900: #1f5797,
  A100: #d1e5ff,
  A200: #9ec9ff,
  A400: #6bacff,
  A700: #529eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$secondary-grey-palette: (
  50: #ececee,
  100: #cecfd4,
  200: #aeb0b8,
  300: #8e909c,
  400: #757886,
  500: #5d6071, // BLACK CORAL
  600: #555869,
  700: #4b4e5e,
  800: #414454,
  900: #303342,
  A100: #93a6ff,
  A200: #607cff,
  A400: #2d52ff,
  A700: #143dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$error-palette: (
  50: #fae8e8,
  100: #f3c5c5,
  200: #eb9f9f,
  300: #e37878,
  400: #dd5b5b,
  500: #d73e3e, // JASPER
  600: #d33838,
  700: #cd3030,
  800: #c72828,
  900: #be1b1b,
  A100: #fff3f3,
  A200: #ffc0c0,
  A400: #ff8d8d,
  A700: #ff7474,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$success-palette: (
  50: #e6f0ea,
  100: #c1dbcb,
  200: #98c3a9,
  300: #6eaa87,
  400: #4f986d,
  500: #308653, // SEA GREEN
  600: #2b7e4c,
  700: #247342,
  800: #1e6939,
  900: #135629,
  A100: #90ffb0,
  A200: #5dff8d,
  A400: #2aff69,
  A700: #10ff57,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warning-palette: (
  50: #fff6e2,
  100: #ffe9b8,
  200: #ffda88,
  300: #ffcb58,
  400: #ffc035,
  500: #ffb511, // DARK TANGERINE
  600: #ffae0f,
  700: #ffa50c,
  800: #ff9d0a,
  900: #ff8d05,
  A100: #ffffff,
  A200: #fff9f3,
  A400: #ffe0c0,
  A700: #ffd3a7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
