@use '@angular/material' as mat;

$primary-palette: (
    900: #005AA3,
    800: #007ac5,
    700: #008bd9,
    600: #009eed,
    500: #00adfd,
    400: #23b9fe,
    300: #4dc6fe,
    200: #81d6ff,
    100: #b3e6ff,
    50: #e1f6ff,
    contrast: (
      900: white,
      800: white,
      700: white,
      600: white,
      500: white,
      400: black,
      300: black,
      200: black,
      100: black,
      50: black,
    ),
);
$primary: mat.define-palette($primary-palette, 900);
$primary-color: mat.get-color-from-palette($primary-palette, 900);

$background-color: #F5F5F5;
$background-accent: #FDFDFD;