@import "themes/theme";

.search {
    .reservation-search, .new-reservation-search {
        display: flex;
        padding: 16px;

        .button-col {
            display: flex;
            justify-content: end;
        
            .mdc-button {
                margin-left: 8px;
            }
        }
    }

    .results {
        background-color: $background-color;
        padding-top: 8px;
    }
}


