<app-page pageTitle="Hotelli toad ja aktiivsed broneeringud">
  <div class="search">
    <mat-tab-group #optionsTabs dynamicHeight mat-stretch-tabs="false">
      <mat-tab label="Kõik broneeringud">
        <ng-container>
          <div class="new-reservation-search">
            <div class="container-fluid">
              <form [formGroup]="searchHotelForm">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col-3 d-flex align-items-center">
                        Filtreeri kuupäeva järgi
                      </div>
                      <div class="col">
                        <mat-form-field appearance="fill">
                          <mat-label>Alates</mat-label>
                          <input
                            matInput
                            [matDatepicker]="fromPicker"
                            formControlName="dateFrom"
                          />
                          <mat-error
                            *ngIf="searchHotelForm.get('dateFrom')!.hasError('matDatepickerParse')"
                          >
                            Vigane kuupäev
                          </mat-error> 
                          <button
                            *ngIf="searchHotelForm.get('dateFrom')?.value"
                            matSuffix
                            mat-icon-button
                            aria-label="Tühjenda väli"
                            (click)="
                              searchHotelForm.get('dateFrom')?.setValue(null)
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="fromPicker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #fromPicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field appearance="fill">
                          <mat-label>Kuni</mat-label>
                          <input
                            matInput
                            [matDatepicker]="untilPicker"
                            formControlName="dateTo"
                          />
                          <mat-error
                            *ngIf="searchHotelForm.get('dateTo')!.hasError('matDatepickerParse')"
                          >
                            Vigane kuupäev
                          </mat-error> 
                          <button
                            *ngIf="searchHotelForm.get('dateTo')?.value"
                            matSuffix
                            mat-icon-button
                            aria-label="Tühjenda väli"
                            (click)="
                              searchHotelForm.get('dateTo')?.setValue(null)
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="untilPicker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #untilPicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 button-col">
                    <div class="align-items-center d-flex">
                      <button mat-raised-button color="accent" type="button" (click)="clearHotelForm()">
                        Puhasta väljad
                      </button>
                      <button mat-raised-button color="primary" type="button" (click)="searchAvailability()">
                        Filtreeri
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="results">
            <h2>Broneeringud</h2>
            <div
              class="table-section"
              *ngIf="reservationDataSource$ | async as data"
            >
              <app-all-reservations-table
                [dataSource]="data"
                [columns]="reservationDisplayedColumns"
              ></app-all-reservations-table>
            </div>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Kõik toad">
        <ng-container>
          <div class="new-reservation-search" >
            <div class="container-fluid">
              <div  *ngIf="roomDataSource$ | async as data">
                Hotellis on kokku {{ data.data.length }} tuba. Broneeringutega tubade arv {{ getBookedRooms(data) }}.
              </div>
              <form [formGroup]="searchRoomForm" *ngIf="false">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col-3 d-flex align-items-center">
                        Filtreeri kuupäeva järgi
                      </div>
                      <div class="col">
                        <mat-form-field appearance="fill">
                          <mat-label>Alates</mat-label>
                          <input
                            matInput
                            [matDatepicker]="roomFromPicker"
                            formControlName="dateFrom"
                          />
                          <mat-error
                            *ngIf="searchRoomForm.get('dateFrom')!.hasError('matDatepickerParse')"
                          >
                            Vigane kuupäev
                          </mat-error>           
                          <button
                            *ngIf="searchRoomForm.get('dateFrom')?.value"
                            matSuffix
                            mat-icon-button
                            aria-label="Tühjenda väli"
                            (click)="
                            searchRoomForm.get('dateFrom')?.setValue(null)
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="roomFromPicker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #roomFromPicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field appearance="fill">
                          <mat-label>Kuni</mat-label>
                          <input
                            matInput
                            [matDatepicker]="roomUntilPicker"
                            formControlName="dateTo"
                          />
                          <mat-error
                            *ngIf="searchRoomForm.get('dateTo')!.hasError('matDatepickerParse')"
                          >
                            Vigane kuupäev
                          </mat-error> 
                          <button
                            *ngIf="searchRoomForm.get('dateTo')?.value"
                            matSuffix
                            mat-icon-button
                            aria-label="Tühjenda väli"
                            (click)="
                            searchRoomForm.get('dateTo')?.setValue(null)
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </button>
                          <mat-datepicker-toggle
                            matIconSuffix
                            [for]="roomUntilPicker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #roomUntilPicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 button-col">
                    <div class="align-items-center d-flex">
                      <button mat-raised-button color="accent" type="button" (click)="clearRoomForm()">
                        Puhasta väljad
                      </button>
                      <button mat-raised-button color="primary" type="button" (click)="searchRooms()">
                        Filtreeri
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="results">
            <h2>Kõik toad</h2>
            <div
              class="table-section"
              *ngIf="roomDataSource$ | async as data"
            >
              <app-room-table
                [dataSource]="data"
                [columns]="roomDisplayedColumns"
              ></app-room-table>
            </div>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page>
<ng-template #loadingTable>
  <mat-progress-bar class="table-section" mode="query"></mat-progress-bar>
</ng-template>
