<div class="all-rooms-table">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput class="table-filter" (keyup)="applyFilter($event)" placeholder="Otsi tabelist" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort matSortDisableClear multiTemplateDataRows>
            <ng-container matColumnDef="roomNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Toa number</th>
                <td mat-cell *matCellDef="let row">{{ row.roomNumber }}</td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tuba</th>
                <td mat-cell *matCellDef="let row">{{ row.type }}</td>
            </ng-container>
            <ng-container matColumnDef="maxOccupants">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Kohtade arv</th>
                <td mat-cell *matCellDef="let row">{{ row.maxOccupants }}</td>
            </ng-container>
            <ng-container matColumnDef="isAvailable">
                <th mat-header-cell *matHeaderCellDef>Broneeringute arv</th>
                <td mat-cell *matCellDef="let row">{{ row.bookings == null ? '0' : row.bookings.length }}</td>
            </ng-container>
            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row"
                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
                    <div class="room-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div *ngIf="!!element.bookings && element.bookings.length > 0; else missingData">
                            <div class="booking-row row" *ngFor="let booking of element.bookings">
                                <div class="col">
                                    Broneering: {{booking.bookingCode}}
                                </div>
                                <div class="col">
                                    Nimi: {{booking.fullName}}
                                </div>
                                <div class="col">
                                    Check-in: {{booking.checkInStartUtc | date:'dd.MM.yyyy'}}
                                </div>
                                <div class="col">
                                    Check-out: {{booking.checkOutUtc | date:'dd.MM.yyyy'}}
                                </div>
                                <div class="col">
                                    <a mat-button [routerLink]="['/admin/broneering/' + booking.bookingCode]"
                                        target="_blank">Vaata broneeringut</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row no-results-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="columns.length">
                    Andmed puuduvad
                </td>
            </tr>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                [ngClass]="{'hidden-row': row !== expandedElement}" class="room-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 20, 50, 150]" aria-label="Vali lehekülg"></mat-paginator>
    </div>
</div>
<ng-template #missingData>
  <div class="no-results-row">
    <span >
      Sellel toal puuduvad broneeringud
    </span>
  </div>
</ng-template>
