@import "themes/theme";

.edit-reservation {
  .mat-mdc-card {
    background-color: $background-accent;
  }

  .form-label {
    display: inline-flex;
    width: 180px;
  }

  .mat-mdc-form-field {
    width: 400px;
  }

  .button-col {
    display: flex;
    justify-content: end;

    .mdc-button {
      margin-left: 20px;
      min-width: 160px;
    }
  }

  .field-separator {
    padding: 0 10px;
  }

  .date-col {
    .mat-mdc-form-field {
        width: 190px;
      }
  }

  .reservation-info {
    width: 100%;
    height: 100%;
    background-color: #D0E1EE;
    border-radius: 5px;
  }

  .reservation-info-label {
    max-width: 160px;
    color: #555867;
  }
}
