<app-page pageTitle="Broneeringu andmed" class="edit-reservation">
  <mat-card>
    <div class="d-flex">
      <div class="container-fluid px-5 py-4">
        <div class="row">
          <div class="col-8">
            <h2>{{reservationTitle$ | async}}</h2>
            <form class="mt-5" [formGroup]="editReservationForm">
              <div class="row">
                <div class="col">
                  <mat-label class="form-label me-3">Ees- ja perekonnanimi*</mat-label>
                  <mat-form-field>
                    <input type="text" matInput formControlName="name" />
                    <mat-error *ngIf="
                              editReservationForm.controls['name'].hasError(
                                'required'
                              ) ||
                              editReservationForm.controls['name'].hasError(
                                'onlyWhitespace'
                              )
                            ">
                      Kohustuslik
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-label class="form-label me-3">Isikukood*</mat-label>
                  <mat-form-field>
                    <input type="text" matInput formControlName="personalCode" />
                    <mat-error *ngIf="
                              editReservationForm.controls['personalCode'].hasError(
                                'required'
                              ) ||
                              editReservationForm.controls['personalCode'].hasError(
                                'onlyWhitespace'
                              )
                            ">
                      Kohustuslik
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <mat-label class="form-label me-3">E-post*</mat-label>
                  <mat-form-field>
                    <input type="text" matInput formControlName="email" />
                    <mat-error *ngIf="
                              editReservationForm.controls['email'].hasError(
                                'required'
                              ) ||
                              editReservationForm.controls['email'].hasError(
                                'onlyWhitespace'
                              )
                            ">
                      Kohustuslik
                    </mat-error>
                    <mat-error *ngIf="
                      editReservationForm.controls['email'].hasError(
                                'email'
                              )
                            ">
                      Vale e-posti aadress
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col date-col">
                  <mat-label class="form-label me-3">Kuupäev*</mat-label>
                  <mat-form-field appearance="fill">
                    <mat-label>Alates</mat-label>
                    <input matInput [matDatepicker]="fromPicker" formControlName="dateFrom" />
                    <button *ngIf="editReservationForm.get('dateFrom')?.value" matSuffix mat-icon-button
                      aria-label="Tühjenda väli" (click)="
                      editReservationForm.get('dateFrom')?.setValue(null)
                      ">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromPicker></mat-datepicker>
                    <mat-error *ngIf="
                    editReservationForm
                          .get('dateFrom')!
                          .hasError('required')
                      ">
                      Kohustuslik
                    </mat-error>
                  </mat-form-field>
                  <span class="field-separator">-</span>
                  <mat-form-field appearance="fill">
                    <mat-label>Kuni</mat-label>
                    <input matInput [matDatepicker]="untilPicker" formControlName="dateTo" />
                    <button *ngIf="editReservationForm.get('dateTo')?.value" matSuffix mat-icon-button
                      aria-label="Tühjenda väli" (click)="
                      editReservationForm.get('dateTo')?.setValue(null)
                      ">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-datepicker-toggle matIconSuffix [for]="untilPicker"></mat-datepicker-toggle>
                    <mat-datepicker #untilPicker></mat-datepicker>
                    <mat-error *ngIf="
                    editReservationForm
                          .get('dateTo')!
                          .hasError('required')
                      ">
                      Kohustuslik
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

                <div class="row">
                  <div class="col">
                    <mat-label class="form-label me-3">Tuba*</mat-label>
                    <ng-container *ngIf="availableRooms$ | async; else loading">
                      <mat-form-field>
                        <mat-select [formControl]="room" required>
                          <mat-option *ngFor="let room of availableRooms$ | async" [value]="room.id">
                            #{{room.id}} - {{room.type}} - {{room.maxOccupants}}. voodikohta - {{room.price}}€
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                  </div>
                </div>

            </form>
          </div>
          <div class="col-4 d-flex" *ngIf="reservation$ | async as reservation">
            <div class="reservation-info">
              <div class="py-3 px-4">
                <h3 class="mb-5">Esialgne broneeringu info</h3>

                <div>
                  <div class="row mb-4">
                    <div class="col reservation-info-label">Ees- ja perekonnanimi</div>
                    <div class="col">{{reservation.fullName}}</div>
                  </div>
                  <div class="row mb-4">
                    <div class="col reservation-info-label">Isikukood</div>
                    <div class="col">{{reservation.nationalIdentificationNumber}}</div>
                  </div>

                  <div class="row mb-4">
                    <div class="col reservation-info-label">E-posti aadress</div>
                    <div class="col">{{reservation.email}}</div>
                  </div>

                  <div class="row mb-4">
                    <div class="col reservation-info-label">Check-in</div>
                    <div class="col">
                      {{reservation.checkInStartUtc | date: 'dd.MM.YYYY'}} kell {{reservation.checkInStartUtc | date: 'HH:mm'}}
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col reservation-info-label">Check-out</div>
                    <div class="col">
                      {{reservation.checkOutUtc | date: 'dd.MM.YYYY'}} kell {{reservation.checkOutUtc | date: 'HH:mm'}}
                    </div>
                  </div>

                  <div class="row mb-4">
                    <div class="col reservation-info-label">Toa number</div>
                    <div class="col">{{reservation.roomId}}</div>
                  </div>

                  <div class="row mb-4">
                    <div class="col reservation-info-label">Tuba</div>
                    <div class="col">{{reservation.room.type}}</div>
                  </div>

                  <div class="row mb-4">
                    <div class="col reservation-info-label">Voodikohtade arv</div>
                    <div class="col">{{reservation.room.maxOccupants}}</div>
                  </div>

                  <div class="row mb-4">
                    <div class="col reservation-info-label">Hind</div>
                    <div class="col">{{reservation.price}}€</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col button-col">
            <div class="align-items-center d-flex">
              <button mat-raised-button color="accent" type="button" (click)="goBack()">
                Tagasi
              </button>
              <button mat-raised-button color="warn" type="button" (click)="cancelReservation()">
                Tühista broneering
              </button>
              <button mat-raised-button color="primary" type="button" (click)="saveChanges()">
                Salvesta
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</app-page>

<ng-template #loading>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>