<div class="all-reservations-table">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput class="table-filter" (keyup)="applyFilter($event)" placeholder="Otsi tabelist" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear multiTemplateDataRows>
      <ng-container matColumnDef="bookingCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Broneeringu number
        </th>
        <td mat-cell *matCellDef="let row">{{ row.bookingCode }}</td>
      </ng-container>
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Külastaja</th>
        <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
      </ng-container>
      <ng-container matColumnDef="checkInStartUtc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kuupäev alates</th>
        <td mat-cell *matCellDef="let row">{{ row.checkInStartUtc | date: 'dd.MM.yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="checkOutUtc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kuupäev kuni</th>
        <td mat-cell *matCellDef="let row">{{ row.checkOutUtc | date: 'dd.MM.yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="room-type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tuba</th>
        <td mat-cell *matCellDef="let row">{{ row.bookingRoom.type }}</td>
      </ng-container>
      <ng-container matColumnDef="room-number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Toa number</th>
        <td mat-cell *matCellDef="let row">{{ row.bookingRoom.roomNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="cancel">
        <th mat-header-cell *matHeaderCellDef>&NonBreakingSpace;</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="warn" (click)="cancelReservation(row)">
            <mat-icon
              color="warn"
              aria-hidden="false"
              aria-label="Tühista"
              fontIcon="close"
            ></mat-icon>
            Tühista broneering
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>&NonBreakingSpace;</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button color="primary" (click)="editReservation(row)">
            <mat-icon
              color="primary"
              aria-hidden="false"
              aria-label="Muuda"
              fontIcon="edit"
            ></mat-icon>
            Muuda
          </button>
        </td>
      </ng-container>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row no-results-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columns.length">
          Andmed puuduvad
        </td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 20, 50, 150]"
      aria-label="Vali lehekülg"
    ></mat-paginator>
  </div>
</div>
