@import "themes/theme";

.popup-dialog {
    height: 190px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;

    &__header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__content {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;

        button {
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .popup-dialog {
        width: 90%;
        min-height: auto;
    }
}