<div class="popup-dialog">
  <h1 mat-dialog-title class="popup-dialog__header">{{ data.title }}</h1>
  <div mat-dialog-content class="popup-dialog__content">
    <p>{{ data.message }}</p>
  </div>
  <div mat-dialog-actions class="popup-dialog__actions">
    <button
      mat-raised-button
      color="accent"
      type="button"
      *ngIf="!data.isCancelDisabled"
      (click)="onCancelClick()"
    >
      Tagasi
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="onOkClick()"
    >
      OK
    </button>
  </div>
</div>
