<div class="container">
    <ng-container *ngIf="pageTitle">
        <h1>{{ pageTitle }}</h1>
        <mat-divider></mat-divider>
    </ng-container>
    <div class="page-content">
        <ng-content></ng-content>
    </div>
    <div class="footer">
    </div>
</div>